<div class="container" fade-in>


    <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div style="padding-bottom: 1em;" class="pull-right">
                <a href="https://github.com/agencetca/innov24" class="alert alert-link"><span><img
                        ng-src="http://robertjchristian.github.com/fs2/images/octocat-icon.png">View on GitHub</span></a>
            </div>

            <div class="page-header">
                <h1>Innov24</h1>
                <h2>A social workspace for journalists.</h2>
            </div>
            <div>

            </div>


            <a class="btn btn-large btn-primary" href="#/about">Learn more</a>

        </div>

    </div>

</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>
